.toggle-view-button {
    position: absolute;
    top: 120px;
    right: 50px;
    padding: 10px 11px;
    background-color: rgb(83, 236, 225);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1000;
    font-size: 25px;
}

.toggle-view-button:hover {
    background-color: #2ec4d2;
}

.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    margin-top: 20px;
}

.file-card {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.file-icon {
    margin-bottom: 10px;
}

.file-name {
    font-size: 0.85rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

.file-actions button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.file-actions button:hover {
    background-color: #388e3c;
}

.file-actions button:active {
    background-color: #2e7d32;
}

.file-management-container {
    margin-left: 15px;
}

.download-button, .view-button, .generate-link-button {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    cursor: pointer;

}

.file-actions {
    display: flex;
    gap: 10px;
}

.file-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-management-container .file-stats {
    text-align: center;
}