html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0fff0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 70px;
    text-align: center;
    box-sizing: border-box;
}

h1 {
    color: #2e8b57;
    margin-bottom: 20px;
}

h2 {
    color: #ffffff;
}

button {
    background-color: #2e8b57;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px 5px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #3cb371;
    transform: scale(1.05);
}

button:active {
    background-color: #276746;
    transform: scale(1);
}


a {
    color: #2e8b57;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    color: #3cb371;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    width: auto;
}

input:focus {
    outline: none;
    border-color: #2e8b57;
    box-shadow: 0 0 5px rgba(46, 139, 87, 0.5);
}

header {
    background-color: #2e8b57;
    padding: 10px;
    color: #fff;
    text-align: center;
    width: 100%;
}

#root {
    height: 100vh;
}
